<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details | Ecommerce Website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <body>
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <a href="Index.html"><img src="../img/logo.jpeg" alt="logo" width="125px"></a>
                    </div>
                    <nav>
                        <ul  id="menuitems">
                            <li><a href="Index.html">Home</a></li>
                            <li><a href="Products.html">Products</a></li>
                            <li><a href="About.html">About</a></li>
                            <li><a href="contact.php">Contact</a></li>
                            <li><a href="Account.html">Account</a></li>
                        </ul>
                    </nav>
                    <a href="Cart.html"><i class="fa fa-shopping-cart" style="font-size:23px;color:red"></i></a>
                    <img src="../img/menu-3.png" class="menu-icon" onclick="menutoggle()">
                </div>
            </div>
    </div>
<div class="small-container single-product">
    <div class="row">
        <div class="col-2"> 
            <img src="../img/Springbok-Tee_1.webp" width="100%" id="productimg">
            <div class="small-img-row"> 
                <div class="small-img-col"> 
                    <img src="../img/Springbok-Tee_1.webp" width="100%" class="small-img">
                </div>
                <div class="small-img-col"> 
                    <img src="../img/Springbox-1.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col"> 
                    <img src="../img/Springbox-3.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col"> 
                    <img src="../img/Springbox-5.jpg" width="100%" class="small-img">
                </div>
            </div>
         </div>
        <div class="col-2">
            <p>Home / T-shirt</p> 
            <h1>Springbok T-Shirt HRX</h1>
            <h4>R350.00</h4>
            <select>
                <option>Select Size</option>
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
                <option>Extra Large</option>
            </select>
            <input type="number" value="1">
            <a href="" class="btn">Add To Cart</a>
            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>Give your summer wardrobe a style upgrade with the HR </p>   
        </div>
    </div>
</div>
<div class="small-container"> 
    <div class="row row-2">
        <h2>Related Products</h2>
        <p>View More</p>
    </div>
</div>

    <div class="small-container">   
        <div class="row">
            <div class="col-4">
                <img src="../img/1-Red-Printed-Tshirt.webp">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <p>R350.00</p>
                </div>
         </div>
         <div class="col-4">
            <img src="../img/images (1).jpeg">
            <h4>Blue Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <p>R450.00</p>
            </div>
        </div>
        <div class="col-4">
            <img src="../img/homedisplay.webp">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <p>R650.00</p>
            </div>
        </div>
        <div class="col-4">
            <img src="../img/MENSTEE_YELLOW_BACK14_2048x.webp">
            <h4>Yellow Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <p>R150.00</p>
            </div>
        </div>
    </div>

  
</div>
    <div class="footer"> 
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="../img/play-store.png">
                        <img src="../img/app-store.png">
                    </div>	
                </div>
                <div class="footer-col-2">
                    <img src="../img/logo.jpeg" alt="logo" width="125px">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>nstagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        var menuitems = document.getElementById("menuitems");
        menuitems.style.maxHeight = "0px";
        function menutoggle() {
            if(menuitems.style.maxHeight == "0px")
            {
                menuitems.style.maxHeight = "200px";
            }
            else{
                menuitems.style.maxHeight = "0px";
            }
        }

        var productimg = document.getElementById("productimg");
        var smallimg = document.getElementsByClassName("small-img");

        smallimg[0].onclick = function(){
            productimg.src = smallimg[0].src;
        }

        smallimg[1].onclick = function(){
            productimg.src = smallimg[1].src;
        }

        smallimg[2].onclick = function(){
            productimg.src = smallimg[2].src;
        }

        smallimg[3].onclick = function(){
            productimg.src = smallimg[3].src;
        }

        smallimg[4].onclick = function(){
            productimg.src = smallimg[4].src;
        }



       
        </script>
</body>
    
</html>